header {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(130,40,40,1) 0%, rgba(245,138,11,1) 78%);

}

@media (min-width: 600px) {
  
  header {
    flex-basis: 2;
    -webkit-order: 2;
    order: 2;
    margin-top: 160px;
    padding-top: 0;
    width: 40%;
  }
}